img{
    margin-left: 130px;
    margin-top: 30px;
    border-radius: 100px;
}
.card-body{
    text-align: center;
}
svg{
    width: 30px;
    height: 30px;
    margin-left: 30px;
   
}
.icons{
    margin-left: -30px;
   
}
a{width: 150px;

}